<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - StockiFY</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
</head>
<body class="login-page">

    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Stockify Logo" class="login-logo-outside">
    <div class="login-box">
        <h2>Login</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="flash-messages" style="text-align: left; margin-bottom: 15px;">
              {% for category, message in messages %}
                <div class="flash flash-{{ category }}">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        <form method="POST">
            <input type="text" name="username" placeholder="Usuário" required>
            <input type="password" name="password" placeholder="Senha" required>
            <button type="submit">Entrar</button>
        </form>

        <p style="margin-top: 20px;">
            Não tem uma conta? <a href="{{ url_for('registrar') }}">Cadastre-se aqui</a>
        </p>
    </div>

</body>
</html>